<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>

    <!-- *** General *** -->

    <display-name>Telnet-over-HTTP Proxy Service</display-name>

    <!-- *** Servlet Definitions *** -->

    <servlet>
        <servlet-name>proxyservice</servlet-name>
        <servlet-class>soht.server.SocketProxyServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>proxyadmin</servlet-name>
        <servlet-class>soht.server.SocketProxyAdminServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- *** Servlet Mappings *** -->

    <servlet-mapping>
        <servlet-name>proxyservice</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>proxyadmin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <!-- *** Other *** -->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <taglib>
        <taglib-uri>http://jakarta.apache.org/taglibs/i18n-1.0</taglib-uri>
        <taglib-location>/WEB-INF/i18n.tld</taglib-location>
    </taglib>

</web-app>
